{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-xl-6 col-sm-6">
            <h4>Job Profile</h4>
        </div>
    </div>

    <div id="tabs">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#c-tab" role="tab">My Jobs</a></li>
            <li class="nav-item"><a class="nav-link " data-toggle="tab" href="#m-tab" role="tab">Applied Jobs</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#g-tab" role="tab">Closed Jobs</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="c-tab" role="tabpanel">
                {% if user.is_owner %}
                    {% for job in user.job_owner.all %}
                        <span><a href="{% url 'jobs:job_detail' job.pk %}">{{ job.job_title }}</a></span> <span class="badge badge-secondary">{{ job.status }}</span><br/><br/>
                    {% endfor %}
                {% elif user.is_freelancer %}
                    {% for proposal in user.job_proposal.all %}
                        <span><a href="{% url 'jobs:job_detail' proposal.job.pk %}">{{ proposal.job.job_title }}</a></span> <span class="badge badge-secondary">{{ proposal.job.status }}</span><br/><br/>
                    {% endfor %}
                {% endif %}
            </div>
            <!--
            applied:
            对owner来说，显示状态为active的job，并且该job下已经有freelancer申请了
            对freelancer来说，显示申请过的所有job，并且状态为active
            -->
            <div class="tab-pane" id="m-tab" role="tabpanel">
            {% if user.is_owner %}
                {% for job in user.job_owner.all %}
                    {% if job.status == 'active' and job.freelancers %}
                        <span><a href="{% url 'jobs:job_detail' job.pk %}">{{ job.job_title }}</a></span> <span class="badge badge-secondary">{{ job.status }}</span><br/><br/>
                    {% endif %}
                {% endfor %}
            {% elif user.is_freelancer %}
                {% for proposal in user.job_proposal.all %}
                    {% if proposal.job.status == 'active' %}
                        <span><a href="{% url 'jobs:job_detail' proposal.job.pk %}">{{ proposal.job.job_title }}</a></span> <span class="badge badge-secondary">{{ proposal.job.status }}</span><br/><br/>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </div>

            <div class="tab-pane" id="g-tab" role="tabpanel">
            {% if user.is_owner %}
                {% for job in user.job_owner.all %}
                    {% if job.status == 'ended'%}
                        <span><a href="{% url 'jobs:job_detail' job.pk %}">{{ job.job_title }}</a></span> <span class="badge badge-secondary">{{ job.status }}</span><br/><br/>
                    {% endif %}
                {% endfor %}
            {% elif user.is_freelancer %}
                {% for proposal in user.job_proposal.all %}
                    {% if proposal.job.status == 'ended' %}
                        <span><a href="{% url 'jobs:job_detail' proposal.job.pk %}">{{ proposal.job.job_title }}</a></span> <span class="badge badge-secondary">{{ proposal.job.status }}</span><br/><br/>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}