<!doctype html>
<title>chat</title>
<script src="http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<style>body {
    max-width: 500px;
    margin: auto;
    padding: 1em;
    background: black;
    color: #fff;
    font: 16px/1.6 menlo, monospace;
}</style>
<p><b>hi, {{ session['user'] }}!</b></p>
<p>Message: <input id="in" style="width: 100%"/></p>
<pre id="out"></pre>
<script>
    function sse() {
        var source = new EventSource('/stream');
        var out = document.getElementById('out');
        source.onmessage = function (e) {
            // XSS in chat is fun
            out.innerHTML = e.data + '\n' + out.innerHTML;
        };
    }

    $('#in').keyup(function (e) {
        if (e.keyCode == 13) {
            $.post('/post', {'message': $(this).val()});
            $(this).val('');
        }
    });
    sse();
</script>