{% load i18n %}
{% load staticfiles %}
<html lang="{% get_current_language as LANGUAGE_CODE %}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Community{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/bootcamp.css' %}" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block head %}
    {% endblock head %}
</head>
<body>
{% block body %}
    <header>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}">Community</a>
                </div>
                <div class="collapse navbar-collapse" id="menu">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'questions:question_list' %}">{% trans 'Q&A' %}</a></li>
                    </ul>

                    {% if not hide_search %}
                        <form class="navbar-form navbar-left" role="search" action="{% url 'search:search' %}">
                            <div class="input-group" style="width:210px">
                                <input type="text" class="form-control" name="q" placeholder="{% trans 'Search' %}">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>
                      </button>
                    </span>
                            </div>
                        </form>
                    {% endif %}

                    <ul class="nav navbar-nav navbar-right">
                        {% if not user.is_anonymous %}
                            <li><a href="#">{{ user.get_username }}</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'user_profile:profile' user.id %}">{% trans 'profile' %}</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{% url 'authentication:logout' %}">{% trans 'Log out' %}</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="{% url 'authentication:signup' %}">{% trans 'Sign up' %}</a></li>
                            <li><a href="{% url 'authentication:login' %}">{% trans 'Log in' %}</a></li>
                            <li></li>
                            <li>
                                <div id="oauth_button">
                                    <div class="pull-right">
                                        <a href="{% url 'oauth:github_login' %}"><img width="15px" height="15px" class="type" src="{% static 'img/github.png' %}" alt="GITHUB"/></a>&nbsp;
                                        <a href="#"><img width="15px" height="15px" class="type" src="{% static 'img/QQ.png' %}" alt="QQ"/></a>&nbsp;
                                        <a href="#"><img width="15px" height="15px" class="type" src="{% static 'img/weibo.png' %}" alt="WEIBO"/></a>
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            {% block main %}
            {% endblock main %}
        </div>
    </main>
{% endblock body %}
<script src="{% static 'js/ga.js' %}"></script>
</body>
</html>
